.container{
    width: 50%;
    margin: 150px auto;
}
input{
    width: 100%;
    height: 40px;
    font-size: 25px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid darkslategray;
}
h3{
    color: orangered;
}
input[type='submit']{
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 100px;
}